<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <mat-card>
                <div class="row p-3">
                    <div class="col-md-5">
                        <img src="{{item.image}}" alt="" mat-card-image style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-7">
                        <mat-card-title>{{item.title}}</mat-card-title>
                        <mat-card-subtitle>{{item.likeCount}} Likes</mat-card-subtitle>
                        
                        <mat-card-actions>
                            <button mat-button disabled="disabled">Update</button>
                            <button mat-raised-button color="warn">Delete</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
