<!-- <button class="btn btn-primary">Add</button>
<h1 class="container-sm">me</h1> -->

<app-header></app-header>

<router-outlet></router-outlet>

<!-- <app-cards></app-cards> -->

<!-- <app-data-grid></app-data-grid> -->

<!-- cardItems -- Parent Component (AppComponent)
    cards -- Child Component (CardComponent) -->
<!-- <app-cards [cards]="cardItems" (cardEvent$)="addCard($event)" (caredDelete$)="removeCard($event)"></app-cards>
<app-data-grid [tableData]="tableData" [columnHeader]="columnHeader"></app-data-grid> -->

<!-- <app-card-wrapper></app-card-wrapper>
<app-periodic-table></app-periodic-table> -->