<div class="container mt-3">
    <section>
        <mat-form-field appearance="fill" class="me-2">
          <mat-label>Title</mat-label>
          <input type="text" matInput #cardTitle>
        </mat-form-field>

        <mat-form-field appearance="fill" class="me-2">
            <mat-label>Image</mat-label>
            <input type="text" matInput #cardImage>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onAddCard(cardTitle.value, cardImage.value)">Add Card</button>
    </section>
</div>

<!-- [class] -- Class Binding || [style] -- Style Binding -->
<div [class]="divClass" [style]="containerStyle">
    <mat-card *ngFor="let card of cards; let i = index" class="card mb-3">
        <mat-card-header>
            <!-- {{title}} -- String Interpolation || [style.fontSize] -- Style Binding -->
            <mat-card-title [style.fontSize]="size" appSpecial>{{card.title}}</mat-card-title>

            <!-- *ngIf -- in-built Structural Directive -->
            <mat-card-subtitle *ngIf="card.likeCount" class="d-flex">
                <span class="me-2 fs-6 mt-1">
                    {{card.likeCount}} 
                </span>
                <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Icon"></mat-icon>
            </mat-card-subtitle>

            <!-- Property Binding -->
            <img [src]="avatar" alt="" mat-card-avatar>
            
            <button mat-raised-button color="warn" (click)="deleteItem(i)">Delete</button>

            
        </mat-card-header>

        <!-- Property Binding -->
        <img [src]="card.image" alt="" mat-card-image style="width: 100%; height: 300px"> 
        
        <!-- <mat-form-field [style.margin]="margin">
            <mat-label appearance="fill"  >Title</mat-label>
            <input matInput>
        </mat-form-field> -->

        <mat-card-actions >
            <!-- [diabled] - Property Binding || (click) -- Event binding -->
            <button mat-button [disabled]="isLikeDisabled" (click)="onLike(card.title)">LIKE</button>
            <button mat-button [disabled]="isShareDisabled">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>











