<div class="container mt-2">
    <div class="row py-2 px-3 mb-3">
        <h2 class="fs-bold">
            User Information
        </h2>
        <table class="table w-50">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Address</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let element of dataSource">
                    <td *ngIf="element.age > 20">{{element.username}}</td>
                    <td *ngIf="element.age > 20">{{element.address}}</td>
                    <td *ngIf="element.age > 20">{{element.age}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

